
.in-field-labels .form-type-password ,
.in-field-labels .form-type-textfield ,
.in-field-labels .form-type-textarea {
  position: relative;
}
.in-field-labels .form-type-password label.in-field-labels-label-processed ,
.in-field-labels .form-type-textfield label.in-field-labels-label-processed ,
.in-field-labels .form-type-textarea label.in-field-labels-label-processed {
  position: absolute;
}

